body {
  background: #1E1E1E;
}

.parent-container {
  background: #1e1e1e;
  display: flex;
  height: 100%;
}

.text {
  color: red;
}

.profile-long-container {
  background: #111111;
  width: 201px;
  height: 305px;
  border-radius: 8px;
}

.nft-image {
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 4px;
}

.nft-description-container {
}

.nft-name {
  color: #fafafa;
  font-family: 'Sharp Grotesk', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  padding-top: 20px;
  padding-left: 8px;
}

.row-container {
  display: flex;
  flex-direction: row;
  padding-top: 8px;
  justify-content: space-between;
}

.row-highlight-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 28px;
}

.row-second-container {
  display: flex;
  flex-direction: row;
  padding-top: 8px;
  padding-bottom: 12px;
  justify-content: space-between;
}

.row-highlight-second-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 8px;
}

.second-details {
  display: flex;
  flex-direction: row;
}

.bought-text {
  color: #a2a2a2;
  font-family: 'Sharp Grotesk', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  padding-left: 8px;
}

.bought-highlight-text {
  color: #a2a2a2;
  font-family: 'Sharp Grotesk', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  padding-left: 10px;
}

.amount-text {
  font-family: 'Sharp Grotesk', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  color: #fafafa;
  /* padding-left: 86px; */
}

.eth-image {
  padding-left: 6.3px;
  padding-right: 12px;
}

.eth-highlight-image {
  padding-left: 6.3px;
  padding-right: 10px;
}

.eth-second-image {
  padding-left: 6.3px;
  padding-right: 6.3px;
}

.amount-second-text {
  font-family: 'Sharp Grotesk', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  color: #fafafa;
  /* padding-left: 58px; */
}

.amount-green-text {
  font-family: 'Sharp Grotesk', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  color: #19ed7b;
  padding-right: 12px;
}

.amount-highlight-green-text {
  font-family: 'Sharp Grotesk', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  color: #19ed7b;
  padding-right: 10px;
}

.img-container {
  position: relative;
}

.tag {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 69px;
  height: 22px;
  right: 8px;
  top: 171px;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(3px);
  border-radius: 31px;
}

.tag-text {
  font-family: 'Sharp Grotesk', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  color: #ffffff;
}

.padding-left-16 {
  padding-left: 16px;
}

.frame-3778 {
  display: flex;
  flex-direction: row;
  padding-top: 57px;
}

.highlights-card {
  width: 201px;
  height: 148px;
  background: #111111;
  border-radius: 16px;
  overflow: hidden;
}

.gradient-color-1 {
  position: absolute;
  width: 174px;
  height: 174px;
  left: -58px;
  top: -69px;
  background: rgba(37, 181, 213, 0.1);
  filter: blur(25px);
}

.gradient-color-2 {
  position: absolute;
  width: 174px;
  height: 174px;
  left: -58px;
  top: -69px;
  background: rgba(248, 169, 16, 0.1);
  filter: blur(25px);
}

.gradient-color-3 {
  position: absolute;
  width: 174px;
  height: 174px;
  left: -58px;
  top: -69px;
  background: rgba(11, 241, 173, 0.1);
  filter: blur(25px);
}

.gradient-color-4 {
  position: absolute;
  width: 174px;
  height: 174px;
  left: -58px;
  top: -69px;
  background: rgba(37, 181, 213, 0.1);
  filter: blur(25px);
}

.gradient-color-5 {
  position: absolute;
  width: 174px;
  height: 174px;
  left: -58px;
  top: -69px;
  background: rgba(11, 241, 173, 0.1);
  filter: blur(25px);
}

.gradient-wrapper {
  position: relative;
}

.highlights-card-image {
  width: 52px;
  height: 52px;
  border-radius: 8px;
  padding-top: 10px;
  padding-left: 10px;
}

.upper-card-wrapper {
  display: flex;
}

.highlights-section {
  font-family: 'Sharp Grotesk', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #fafafa;
  padding-left: 12px;
  padding-top: 10px;
}

.highlights-subsecton-1 {
  font-family: 'Sharp Grotesk', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  color: #4bdfff;
  padding-left: 20px;
  padding-top: 12px;
}

.highlights-subsecton-2 {
  font-family: 'Sharp Grotesk', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  color: #ffc148;
  padding-left: 20px;
  padding-top: 12px;
}

.highlights-subsecton-3 {
  font-family: 'Sharp Grotesk', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  color: #44ffc8;
  padding-left: 20px;
  padding-top: 12px;
}

.highlights-subsecton-4 {
  font-family: 'Sharp Grotesk', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  color: #4bdfff;
  padding-left: 20px;
  padding-top: 12px;
}

.highlights-subsecton-5 {
  font-family: 'Sharp Grotesk', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  color: #44ffc8;
  padding-left: 20px;
  padding-top: 12px;
}

.frame-3799 {
  display: flex;
  flex-direction: row;
}

.frame-3741 {
  padding-top: 16px;
}

.about-card {
  width: 292px;
  height: 640px;
  background: #111111;
  border-radius: 16px;
}

.cards-wrapper {
  display: flex;
  flex-direction: column;
  padding-left: 56px;
  padding-top: 52px;
}

.level-tag {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 49px;
  height: 28px;
  background: rgba(248, 169, 16, 0.1);
  border-radius: 44px;
  margin-left: 34.5px;
  margin-top: 4px;
}

.level-text {
  font-family: 'Sharp Grotesk', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 100%;
  color: #ffc148;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 8px;
  padding-right: 8px;
}

.about-icon {
  width: 84.01px;
  height: 84px;
  padding-left: 16px;
}

.display-picture-wrapper {
  display: flex;
  flex-direction: column;
  padding-top: 16px;
}

.about-name {
  font-family: 'Sharp Grotesk', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 19px;
  line-height: 32px;
  color: #ffffff;
  padding-top: 47px;
  padding-left: 12px;
}

.about-desc {
  font-family: 'Sharp Grotesk', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  color: #a2a2a2;
  padding-top: 2px;
  padding-left: 12px;
}

.about-wrapper {
  display: flex;
  flex-direction: row;
}

.twitter-tag {
  display: flex;
  align-items: center;
  width: 126px;
  height: 32px;
  background: #1a1a1a;
  border-radius: 24px;
}

.twitter-icon {
  width: 24px;
  height: 24px;
  padding-left: 8.94px;
}

.globe-tag {
  display: flex;
  width: 32px;
  height: 32px;
  background: #1a1a1a;
  border-radius: 24px;
}

.tags-wrapper {
  display: flex;
  flex-direction: row;
  padding-top: 32px;
  padding-left: 16px;
}

.twitter-username {
  font-family: 'Sharp Grotesk', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  color: #a2a2a2;
  padding-left: 8.36px;
}

.globe-icon {
  padding-top: 6px;
  padding-left: 6px;
  padding-bottom: 6px;
  padding-right: 6px;
}

.user-tagline {
  font-family: 'Sharp Grotesk', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 170%;
  width: 258px;
  height: 72px;
  color: #a2a2a2;
  padding-top: 32px;
  padding-left: 16px;
}

.common-communities {
  font-family: 'Sharp Grotesk', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  color: #a2a2a2;
  padding-top: 32px;
  padding-left: 16px;
}

.pictures-row {
  padding-top: 8px;
  padding-left: 16px;
}

.pictures-icon {
  width: 48px;
  height: 48px;
  padding-right: 8px;
}

.art-tag {
  display: flex;
  flex-direction: row;
  align-items: center;
  box-sizing: border-box;
  width: 70px;
  height: 28px;
  border: 1px solid #ffc148;
  border-radius: 40px;
  padding-left: 10px;
}

.art-title {
  font-family: 'Sharp Grotesk', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #ffc148;
}

.art-percentage {
  font-family: 'Sharp Grotesk', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #ffc148;
  padding-left: 8px;
}

.tags-row-1 {
  display: flex;
  flex-direction: row;
  padding-top: 32px;
  padding-left: 16px;
}

.tags-row-2 {
  display: flex;
  flex-direction: row;
  padding-top: 8px;
  padding-left: 16px;
}

.padding-left-8 {
  padding-left: 8px;
}

.utility-tag {
  display: flex;
  flex-direction: row;
  align-items: center;
  box-sizing: border-box;
  justify-content: space-between;
  width: 87px;
  height: 28px;
  border: 1px solid #ffc148;
  border-radius: 40px;
}

.utility-title {
  font-family: 'Sharp Grotesk', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #ffc148;
  padding-left: 10px;
}

.utility-percentage {
  font-family: 'Sharp Grotesk', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #ffc148;
  padding-right: 10px;
}

.metaverse-tag {
  display: flex;
  flex-direction: row;
  align-items: center;
  box-sizing: border-box;
  justify-content: space-between;
  width: 116px;
  height: 28px;
  border: 1px solid #1a1a1a;
  border-radius: 40px;
}

.metaverse-title {
  font-family: 'Sharp Grotesk', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #a2a2a2;
  padding-left: 10px;
}

.metaverse-percentage {
  font-family: 'Sharp Grotesk', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #a2a2a2;
  padding-right: 10px;
}

.gaming-tag {
  display: flex;
  flex-direction: row;
  align-items: center;
  box-sizing: border-box;
  justify-content: space-between;
  width: 97px;
  height: 28px;
  border: 1px solid #1a1a1a;
  border-radius: 40px;
}

.gaming-title {
  font-family: 'Sharp Grotesk', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #a2a2a2;
  padding-left: 10px;
}

.gaming-percentage {
  font-family: 'Sharp Grotesk', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #a2a2a2;
  padding-right: 10px;
}

.pfp2-tag {
  display: flex;
  flex-direction: row;
  align-items: center;
  box-sizing: border-box;
  justify-content: space-between;
  width: 74px;
  height: 28px;
  border: 1px solid #1a1a1a;
  border-radius: 40px;
}

.pfp2-title {
  font-family: 'Sharp Grotesk', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #a2a2a2;
  padding-left: 10px;
}

.pfp2-percentage {
  font-family: 'Sharp Grotesk', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #a2a2a2;
  padding-right: 10px;
}

.pfp-tag {
  display: flex;
  flex-direction: row;
  align-items: center;
  box-sizing: border-box;
  justify-content: space-between;
  width: 74px;
  height: 28px;
  border: 1px solid #1a1a1a;
  border-radius: 40px;
}

.pfp-title {
  font-family: 'Sharp Grotesk', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #a2a2a2;
  padding-left: 10px;
}

.pfp-percentage {
  font-family: 'Sharp Grotesk', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #a2a2a2;
  padding-right: 10px;
}

.ens-tag {
  display: flex;
  flex-direction: row;
  align-items: center;
  box-sizing: border-box;
  justify-content: space-between;
  width: 74px;
  height: 28px;
  border: 1px solid #1a1a1a;
  border-radius: 40px;
}

.ens-title {
  font-family: 'Sharp Grotesk', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #a2a2a2;
  padding-left: 10px;
}

.ens-percentage {
  font-family: 'Sharp Grotesk', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #a2a2a2;
  padding-right: 10px;
}

.subscribe-button {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 37px;
  gap: 8px;
  width: 260px;
  height: 44px;
  border: 1px solid #a2a2a2;
  border-radius: 24px;
}

.padding-top-32 {
  padding-top: 32px;
}

.subscribe-text {
  font-family: 'Sharp Grotesk', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #fafafa;
}

.subscribe-icon {
  width: 16px;
  height: 16px;
}

.center-wrapper{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
